@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To My Social Media Website</h1>
    <p>I'm Glad you're Here, This is a site where you can upload photos and comment on other people profiles. Register <a asp-area="Identity" asp-page="/Account/Register">here to get started</a></p>
</div>
